<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../views/login.css" rel="stylesheet">
    <link href="../public/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="bodyLogin">
    <header>
        <div class="divBanner">
        <section><img class="img" src="../public/logo-mercado-liebre.svg" alt="Imagen banner">
       </section>
        <div class="search">
            <form action="#">
                <input type="text" placeholder=" Search Courses" name="search">
                <button class="bt-search">
                    <i class="botonB fa fa-search" style="font-size: 18px;">
                    </i>
                </button>
            </form>     
        </div>
    </div>
           <h3 class="textBanner"> Comprá en cuotas :3 <i class="fas fa-hand-holding-usd"></i></h3>
        <nav><div class="burger"><button class="fas fa-bars"></button></div>
        <div class="burgerList">
            <li><a href="#"> Ofertas</a></li>
            <li><a href="#"> Tiendas oficiales </a> </li>
            <li><a href="#"> Vender </a></li>
            <li><a href="#">Ayuda </a> </li> </div>


            <div class="burgerList2">
            <li><a href="#"> Crea tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href="../views/login.html"> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#"> Mis compras </a><i class="fas fa-shopping-basket"></i></li></div>
   
    </div>
    </div>  
</nav>
</header>
    <div class="formu">
        <ul>
            <input class="inputLogin" placeholder="Nombre de usuario" style="WIDTH: 600px; HEIGHT: 35px" type="text" id="nombre"
                name="nombre">
        </ul>
        <ul>
            <input class="inputLogin" placeholder="Elegí tu contra :3" style="WIDTH: 600px; HEIGHT: 35px" type="password" id="password"
                name="password"><div class="botoncito">
        <button class="btn" style="WIDTH: 228px; HEIGHT: 35px"> Enviar </button>
    </div>
        </ul> </div>
       
    <footer>
    <section class="foot">
        <p> <i class="fas fa-credit-card emote"></i> </p>
        <p class="titulo-footer"><b> Pagá con tarjeta o en efectivo</b></p>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <p> <i class="fas fa-gift emote"></i> </p>
        <p class="titulo-footer"> <b>Envío gratis desde $ 2.500</b></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <p><i class="fas fa-user-shield emote"></i></p>
        <p class="titulo-footer"><b> Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p class="copy"><b> Copyright © 1999-2020 MercadoLiebre S.R.L. </b></p>
    </section>

</footer>
</body>

</html>