
.bodyLogin {
    background-color: white;
}

.inputLogin, ul, li{
    text-align: center;
    margin: 15px;
    padding: 5px;
    

}

.formu{
    background-color:rgba(191, 185, 181, 0.558);
    border-radius: 20px;

}


.btn{
    background-color:rgb(20, 50, 222);
    color:white;
}

.botoncito{
    display: flex;
    justify-content: center ;
    margin-top: 10px;
}
