html {
  background-color: rgba(248, 230, 31, 0.93);
}

* {
  margin: 5px;
  padding: 0px;
}

.formR {
  width: 400px;

  padding: 1em;
  border: 1px solid #f3f2f2;
  border-radius: 1em;
  background-color: rgba(230, 228, 206, 0.3);
  margin: auto;

}

ul {
  list-style: none;

}

.title {
  text-align: center;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.perfilUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;

  text-align: left;
}

input {
  font: 1em sans-serif;
  border: 1px solid #999;
  width: auto;
  box-sizing: border-box;

}

textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;


  /* Tamaño uniforme del campo de texto */
  width: 100%;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;

}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px;
  /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
  margin-left: .5em;
  margin-top: 15px;
}

p {
  margin: 0;
  padding: 0;
}

.btnr {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
}

.search {
  width: 100%;
  text-align: end;
}

.divBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bodyLogin {
  background-color: white;
}

.burgerList {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: start;
  padding: 0;
  margin: 0;

}

.burgerList2 {
  justify-content: end;
  list-style: none;
  display: flex;
  gap: 10px;
}

.navR {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header {
  background-color: rgba(248, 230, 31, 0.93);
  padding: 0;
  margin: 0;
}

.textBanner {
  text-align: center;
}


footer {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 19px;
}