html {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #ECE6D7;
    text-align: center;
}

header {
    background-color: #EAC926;
    margin: 0;
}
main{
    text-align: center;
    align-items: 90%;
    margin: 50px;
}
.card{
    margin: 10px;
    background-color: white;
    border: 10px;
    padding: 1em 15px;
}

.imagenes{
    width: 200px;
    height:200px;
}
.precio{
    font-size: 18px;
}

.titulares{
    font-size: 30px;
    color: gray;
}

.desc{
    font-size: 16px;
    color: #008000;
}

.descrip{ 
 font-size: 16px;
}
.camioncito{
    padding: 10px;
    border: #008000 solid 1px;
    border-radius: 50%;
}

.search{
    background-color: #0000;
    color: #f2f2f2;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border:#0000;
    }

.banner{
    margin-top: 15px;
}

.titulo-footer{
    font-size: 16px;
}
.burger button{
    background-color: #03264C;
}

.burgerList{
    margin-top: 10px;
    flex-direction: row;

   
    
}

li {
    border-right: 1px solid #9B9A9A;
    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
}

.emote{
    font-size: 2em;
    margin: 15px;

}
.foot{
    text-align: center;
}

.copy{
    margin: 15px;
    text-align: center;
}


@media screen and (min-width: 360px) {
    li{
        display: none;
    }
    .card {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .burger{
        display: none;
    }
}

@media screen and (min-width: 769px){
   .burger { 
    display: none;
}
 li {
    display:block;
    text-align: center;
 }
 .card {
    box-shadow: 0px 0px 10px rgb(100,100,100);
}
}
